*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.Today{
  display: grid;
  position: relative;
  place-items: center;
  flex-direction: column;
  /* margin-bottom: 100px; */
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  height: 93vh;
}

h1,h2,h3,h4,p{
  text-shadow: #000000 2px 3px 1px ;
  text-align:center ;
}



.Today .Weather-Info{
  display: grid;
  gap: 1rem;
  flex-direction: column;
  place-content: center;
  height: 340px;
  padding: 16px;
  bottom: 0px;
  margin: 2rem 0rem;
}

.Today  img{
  width: 200px;
  place-self: center;
}

.Weather-Info > div{
  display: flex;
  align-items: space-between ;
  align-content: space-between ;
  justify-content: space-between;
}

.Weather-Info{
  background-color: #242424b0;
  place-self: center;
  height: 450px !important;
  padding: 4rem !important;
  border-radius: 2rem;
  max-width: 60%;
}

.Card-Container
{
  display: flex;
  gap: 8px;
  place-content: center;
  margin:  100px 0;
}

.Card{
  display: flex;
  flex-direction: column;
  border : solid silver 2px;
  border-radius: 8px;
  place-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 120px;
  height: 180px;
}

.Card img{
  width: 80px;

}

.Login
{
  display: grid;
  width: 100%;
  height: 100vh;
}
button{
  display: flex;
  place-content: center;
  place-items: center;
  place-self: center;
  border: cyan 2px solid;
  border-radius: 8px;
  padding: 4px 6px;
  font-size: large;
}

.Records
{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0rem;
}

.Card > p:first-of-type{
  color: rgb(255, 61, 61);
}

.Card > p:last-of-type{
  color: rgb(61, 122, 255);
}
/* GtkFileChooserDialog|FileChooserDialog|Dialog|FileChooser|FilePicker */

/* (?!browser-window|browser) */
